body {
  margin-top: 30px;
  background-color: #FDFFFC;
}

.button-disable {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
  pointer-events: none;
}


.players, .player, .two-player-game, .one-player-game, .game-over {
  display: none;
}

.title {
  color: white;
  background-color: #262730;
}

.statistics {
font-family: 'Press Start 2P', cursive;
}
